@charset "ISO-8859-1";

body {
	background-image: url(./white3.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#topbar {
	color: white;
	border-radius: 10px;
	background-image: linear-gradient(to right, #2570a1, #515ca4, #774aab);
}

#logo {
	padding-top: 10px;
	display: flex;
	justify-content: center;
}

#kseab {
	margin-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	font-size: 40px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-weight: 500;
}

#login {
	border-radius: 10px;
	background-color: #b2d7f5;
	margin-top: 80px;
	border: 1px solid black;
	margin-left: 500px;
	margin-right: 500px;
}

#dept {
	color: #618293;
	margin-top: 10px;
	margin-left: 30px;
	display: flex;
	justify-content: left;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-size: 30px;
}

#user {
	display: flex;
	justify-content: left;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-size: 25px;
	margin-top: 40px;
	margin-left: 30px;
}

#field {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

#pwd {
	display: flex;
	justify-content: left;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	font-size: 25px;
	margin-top: 20px;
	margin-left: 30px;
}

#submit {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 30px;
}

#back {
	background-image: linear-gradient(to right, #2570a1, #515ca4, #774aab);
	color: white;
	margin-top: 50px;
	font-size: 25px;
	border-radius: 5px;
	height: 50px;
	width: 100px;
}

#bottombar {
	color: white;
	border-radius: 10px;
	background-image: linear-gradient(to right, #2570a1, #515ca4, #774aab);
	height: fit-content;
	margin-top: 70px;
}

#gok {
	padding: 20px;
	font-size: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	color: white;
	text-align: center;
}